In [ ]:
#set are the unodered collection data type
#no duplicate elements
#mutable
#iterable
#no indexing supported
#The elements in the set are immutable(cannot be modified) but the set as a whole is mutable

### We will be discussing the inbuilt functions of sets
difference

differnce_updated

add

issuperset

issubset

issdisjoint

union

intersection

intersection_update

symmetric_difference

In [135]:
set1={1,2,4,6,7}

In [136]:
set2={4,5,6,7,10}

In [137]:
set1

{1, 2, 4, 6, 7}

In [138]:
set2

{4, 5, 6, 7, 10}

In [141]:
set1.add(3) #adds new number to the set
set1

{1, 2, 3, 4, 6, 7}

In [142]:
set1-set2 #subtraction

{1, 2, 3}

In [143]:
set1.difference(set2) #this means subtract items of set 2 from set 1

{1, 2, 3}

In [144]:
set2.difference(set1) 
#this means subtract items of set 1 from set 2

{5, 10}

In [145]:
set2.difference_update(set1) #this updates the diifence value into set2
set2

{5, 10}

In [146]:
set3={1,2,3,4}
set4={1,2,3,4,5,67,8}

In [147]:
set3.issubset(set4) 
#means items of set 3 are part of set 4
#subset means to be part of something

True

In [148]:
set4.issuperset(set3) 
#means set 4 contains all items of set 3
#superset is opposite of set 3
#suoerset means to have somethings as a whole

True

In [149]:
set4.isdisjoint(set3)
#returns boolean value
#it means set4 and set 3 have intersection(common values) btw them.
#disjoint means there is no common value btw the mentioned set

False

In [150]:
set4.intersection(set3) #intersection (common items)

{1, 2, 3, 4}

In [151]:
set4&set3 #intersection can also be shown using & sign

{1, 2, 3, 4}

In [152]:
set4.intersection_update(set3) #this updaetd the set4 with the intersection of set3
set4 #updated set 4

{1, 2, 3, 4}

In [153]:
set5={1,5,3,5,2,6,10}
set6={3,4,100,3,101,33,11}

In [154]:
set5

{1, 2, 3, 5, 6, 10}

In [155]:
set6

{3, 4, 11, 33, 100, 101}

In [156]:
set5.union(set6) #union returns a set having combination of all the items of both the sets

{1, 2, 3, 4, 5, 6, 10, 11, 33, 100, 101}

In [157]:
set5|set6 # | means union

{1, 2, 3, 4, 5, 6, 10, 11, 33, 100, 101}

In [158]:
set5.discard(2) #discard removes the item mention the the brackets

In [159]:
set5

{1, 3, 5, 6, 10}

In [160]:
set4

{1, 2, 3, 4}

In [161]:
set5.symmetric_difference(set4) #returns all the parts ofset 5 and set4 except common

{2, 4, 5, 6, 10}

### Assessing the values in a set:

We cannot access individual values in a set.

In [162]:
#what we can do is we can assess all the values of a set using loops.
for x in set4:
    print(x)

1
2
3
4